.section{
    background-color: white;
    margin-bottom: 10px;
   
}

.section__header{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    border-bottom: 2px solid hsl(0, 0%, 93%);
    align-items: center;
    padding: 20px;
}

@media(max-width: 757px){
    .section__header{
        grid-template-columns: 1fr;
    }
}


.section__title {
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    margin-bottom: 2px;
    border-bottom: 2px solid hsl(0, 0%, 93%);
}

.section__title--tasks {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 20px; 
}


